p {
    font-size: larger;
    line-height: 32px;
}

button {
    font-size: larger;
}

img {
    filter: invert(1);
}

.mat-fab.mat-accent {
    background: #c2c2c2;
    margin-right: 16px;
}

img.cash {
    margin-top: -8px;
}

img.paypal {
    object-position: 18px 0;
    width: auto;
    height: 30px;
}