<div class="container">
    <button mat-button routerLink="">&lt; Return to Dashboard</button>
    <h1>Donate</h1>
    <p>
        If you like this project and feel like chipping in to the developer, below are the few ways you can do so. Thanks in advance!
    </p>
    <a href="https://cash.me/$jxnw" mat-fab>
      <img class="cash" src="https://cash-f.squarecdn.com/preact/b5ba718ca736f82df626e111eafddfc1401a52be/assets/images/region/us/icon-cash-app-glyph.svg">
    </a>
    <a href="https://paypal.me/JaxonWright" mat-fab>
        <img class="paypal" src="https://www.paypalobjects.com/webstatic/i/logo/rebrand/ppcom-white.svg">
    </a>
    <p>
        Donating does not give you any special application features
    </p>
</div>
