@import url('https://fonts.googleapis.com/css?family=Montserrat+Alternates:700&display=swap');


div {
    font-size: 15px;
    opacity: 0.3;
    font-weight: 400;
    letter-spacing: 1.2px;
}

div.nav {
    margin-left: 16px;
}

div.creation {
    position: absolute;
    right: 32px;

    img {
        height: 25px;
        filter: grayscale(100%);
    }
}

div a {
    color: silver;
}

span.hash {
    font-size: x-small;
    margin-left: 8px;
    color: darkgrey;
}

div.arbitrary-logo {
    font-family: 'Montserrat Alternates', sans-serif;
    border-radius:6px;
    padding: 8px;
    font-size: x-large;
    height: 28px;
    width: fit-content;
    color: black;
    background: #FFF;
    margin: 0 16px;
}
