div, span {
    font-size: 15px;
    opacity: 0.3;
    font-weight: 400;
    letter-spacing: 1.2px;
}

div.nav {
    margin-left: 16px;
}

div.creation {
    position: absolute;
    right: 32px;

    img {
        height: 25px;
        filter: grayscale(100%);
    }
}

a {
    color: silver;
}

.hash {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    font-size: x-small;
    color: darkgrey;
    text-decoration: none;
    opacity: 0.3;
}

.copy {
    padding-bottom: 2px;
}