div, span {
    font-size: 15px;
    opacity: 0.7;
    font-weight: 400;
    letter-spacing: 1.2px;
}

div.nav {
    margin-left: 16px;
}

div.creation {
    position: absolute;
    right: 32px;

    img {
        height: 18px;
        margin-bottom: 4px;
        width: auto;
        filter: grayscale(100%) var(--footer-logo-filter);
        opacity: 0.5;
    }
}

a {
    color: var(--app-text);
    svg {
        margin-top: -5px;
        filter: var(--footer-logo-filter);
    }
}

.hash {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    font-size: x-small;
    color: var(--app-text);
    text-decoration: none;
    opacity: 0.5;
}
