app-logo {
  font-size: larger;
}

mat-toolbar {
  justify-content: center;
}

button.mat-mdc-outlined-button.custom-url-button {
  position: absolute;
  left: 32px;
  top: 16px;
}

.new-curl {
  position: absolute;
  left: 162px;
  top: 15px;
  background: #1090ff;
  padding: 16px;
  border-radius: 8px;
  font-size: 15px;
}

.new-curl::before {
  content: '';
  height: 0;
  width: 0;
  position: absolute;
  left: -19px;
  top: 7px;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 10px solid transparent;
  border-right: 10px solid #1090ff;
}

::ng-deep .url-bar {
  position: absolute !important;
  left: 32px;
  top: 8px;
  width: 30%;

  mat-icon {
    cursor: pointer;
  }
}

button.mat-mdc-outlined-button.settings-button {
  position: absolute;
  right: 32px;
  top: 16px;

  mat-icon {
    margin-left: 0 !important;
    margin-right: 0 !important;
  }
  
  .hidden-container {
    border-left: 1px solid var(--mdc-outlined-button-outline-color);
    margin-left: 12px;
    font-size: 12px;
    padding-left: 16px;
  }
}

.settings-tip {
  background: rgb(236, 236, 236);
  color: #000;
  padding: 16px;
  position: fixed;
  right: 120px;
  top: 9px;
  border-radius: 8px;

  &::after {
    content: "";
    background: rgb(236, 236, 236);
    right: 113px;
    height: 14px;
    width: 14px;
    top: 27px;
    position: fixed;
    transform: rotate(45deg);
  }
}
