app-logo {
  font-size: larger;
}

mat-toolbar {
  justify-content: center;
}

button.mat-mdc-outlined-button {
  position: absolute;
  left: 32px;
  top: 16px;
}

.new-curl {
  position: absolute;
  left: 162px;
  top: 15px;
  background: #1090ff;
  padding: 16px;
  border-radius: 8px;
  font-size: 15px;
}

.new-curl::before {
  content: '';
  height: 0;
  width: 0;
  position: absolute;
  left: -19px;
  top: 7px;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 10px solid transparent;
  border-right: 10px solid #1090ff;
}

::ng-deep .url-bar {
  position: absolute !important;
  left: 32px;
  top: 8px;
  width: 30%;

  mat-icon {
    cursor: pointer;
  }
}