<mat-toolbar>
    <button mat-stroked-button *ngIf="!urlBarOpen" (click)="urlBarOpen = true">
        <mat-icon fontIcon="link"/>
        Custom URL
    </button>
    <mat-form-field cdkFocusInitial #urlBar class="url-bar" appearance="outline" *ngIf="urlBarOpen" (keydown.enter)="navigate()">
        <input matInput autofocus [(ngModel)]="url" placeholder="Enter a URL">
        <mat-icon matSuffix (click)="navigate()">login</mat-icon>
    </mat-form-field>
    <app-logo></app-logo>
</mat-toolbar>
