@import url('https://fonts.googleapis.com/css?family=Cairo&display=swap');

@import '~@angular/material/theming';

@include mat-core();

$mat-black: (50: #000000,
  contrast: (50: white));

$app-warn: mat-palette($mat-red);

$light-app-primary: mat-palette($mat-grey, 900);
$light-app-accent: mat-palette($mat-green, A400);
$light-app-theme: mat-light-theme($light-app-primary, $light-app-accent, $app-warn);

$black-app-primary: mat-palette($mat-black, 50);
$black-app-accent: mat-palette($mat-green, A400);
$black-app-theme: mat-dark-theme($black-app-primary, $black-app-accent, $app-warn);

@include angular-material-theme($black-app-theme);

.black-theme {
  @include angular-material-theme($black-app-theme);
}

.mat-app-background,
.mat-toolbar {
  background-color: #000000;
  color: rgb(236, 236, 236)
}

.mat-card {
  background-color: #1a1a1a;
  color: rgb(236, 236, 236)
}

.light-theme {
  @include angular-material-theme($light-app-theme);
}

body {
  min-height: 100vh;
  margin: 0;
  display: relative;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.app-frame {
    min-height: calc(100vh);
}

html {
  overflow-y: overlay;
}

.container {
  margin-left: 30%;
  margin-right: 30%;
}

@media(max-width:1200px) {
  .container {
    margin-left: 32px;
    margin-right: 32px;
  }
}

.fullscreen-snack {
  white-space: pre;
  margin-bottom: 70px !important;
}


/***
 * Scrollbar 
 ***/

/* width */

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

/* Track */

::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 8px;
}

/* Handle */

::-webkit-scrollbar-thumb {
  background: rgb(149, 149, 149);
  border-radius: 8px;
}

/* Handle on hover */

::-webkit-scrollbar-thumb:hover {
  background: rgb(206, 206, 206);
}