@use '@angular/material' as mat;
@import url('https://fonts.googleapis.com/css?family=Cairo&display=swap');


@include mat.all-component-typographies();
@include mat.core();

$mat-black: (50: #000000,
            100: #000000,
            500: #000000,
            700: #000000,
  contrast: (50: white, 100: white, 500: white, 700: white));

$app-warn: mat.define-palette(mat.$red-palette);

$light-app-primary: mat.define-palette(mat.$grey-palette, 900);
$light-app-accent: mat.define-palette(mat.$green-palette, A400);
$light-app-theme: mat.define-light-theme((
  color: (
    primary: $light-app-primary,
    accent: $light-app-accent,
    warn: $app-warn,
  ),
  density: 0
));

$black-app-primary: mat.define-palette($mat-black, 50);
$black-app-accent: mat.define-palette(mat.$green-palette, A400);
$black-app-theme: mat.define-dark-theme((
  color: (
    primary: $black-app-primary,
    accent: $black-app-accent,
    warn: $app-warn,
  ),
  density: 0
));

// The following mixins include base theme styles that are only needed once per application. These
// theme styles do not depend on the color, typography, or density settings in your theme. However,
// these styles may differ depending on the theme's design system. Currently all themes use the
// Material 2 design system, but in the future it may be possible to create theme based on other
// design systems, such as Material 3.
//
// Please note: you do not need to include the 'base' mixins, if you include the corresponding
// 'theme' mixin elsewhere in your Sass. The full 'theme' mixins already include the base styles.
//
// To learn more about "base" theme styles visit our theming guide:
// https://material.angular.io/guide/theming#theming-dimensions
@include mat.all-component-bases($black-app-theme);

@include mat.toolbar-theme($black-app-theme);
@include mat.button-theme($black-app-theme);
@include mat.card-theme($black-app-theme);
@include mat.snack-bar-theme($black-app-theme);
@include mat.form-field-theme($black-app-theme);
@include mat.input-theme($black-app-theme);
@include mat.tooltip-theme($black-app-theme);
@include mat.icon-theme($black-app-theme);

:root {
  --mdc-dialog-container-color: #000000;
  --mdc-dialog-subhead-color: #FFFFFF;
  --mdc-dialog-supporting-text-color: #FFFFFF;
}

.cdk-overlay-dark-backdrop {
  background: rgb(0 0 0 / 90%);
}

.mat-mdc-dialog-container {
  min-width: 500px !important;
  min-height: 700px !important;
  max-height: 100vh;
}

.mat-app-background,
.mat-toolbar {
  --mat-toolbar-container-background-color: #000000;
  background-color: #000000;
  color: rgb(236, 236, 236)
}

.mat-mdc-card {
  background-color: #1a1a1a;
  color: rgb(236, 236, 236)
}

.light-theme {
  @include mat.toolbar-color($light-app-theme);
  @include mat.button-color($light-app-theme);
  @include mat.card-color($light-app-theme);
  @include mat.snack-bar-color($light-app-theme);
  @include mat.form-field-color($light-app-theme);
  @include mat.input-color($light-app-theme);
  @include mat.tooltip-color($light-app-theme);
  @include mat.icon-color($light-app-theme);
}

body {
  min-height: 100%;
  margin: 0;
  display: relative;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.app-frame {
    min-height: 100%;
}

html {
  overflow-y: overlay;
  overflow-x: hidden;
}

.container {
  margin-left: 30%;
  margin-right: 30%;
}

@media(max-width:1200px) {
  .container {
    margin-left: 32px;
    margin-right: 32px;
  }
}

.fullscreen-snack {
  white-space: pre;
  position: absolute;
  width: 344px;
  margin: auto !important;
  right: 0;
  left: 0;
  bottom: 57px;
}


/***
 * Scrollbar 
 ***/

/* width */

::-webkit-scrollbar {
  width: 4px !important;
  height: 4px !important;
}

/* Track */

::-webkit-scrollbar-track {
  background: transparent !important;
  border-radius: 8px !important;
}

/* Handle */

::-webkit-scrollbar-thumb {
  background: rgb(149, 149, 149) !important;
  border-radius: 8px !important;
}

/* Handle on hover */

::-webkit-scrollbar-thumb:hover {
  background: rgb(206, 206, 206) !important;
}