@use '@angular/material' as mat;
@import url('https://fonts.googleapis.com/css?family=Cairo&display=swap');


@include mat.all-component-typographies();
@include mat.elevation-classes();
@include mat.app-background();

$light-app-theme: mat.define-theme((
  color: (
    theme-type: light,
    primary: mat.$green-palette,
  )
));

$black-app-theme: mat.define-theme((
  color: (
    theme-type: dark,
    primary: mat.$blue-palette,
  )
));

html {
  @include mat.elevation-classes();
  @include mat.app-background();
  @include mat.toolbar-theme($black-app-theme);
  @include mat.button-theme($black-app-theme);
  @include mat.card-theme($black-app-theme);
  @include mat.snack-bar-theme($black-app-theme);
  @include mat.form-field-theme($black-app-theme);
  @include mat.input-theme($black-app-theme);
  @include mat.tooltip-theme($black-app-theme);
  @include mat.icon-theme($black-app-theme);
}

:root {
  --mat-dialog-container-color: #000000;
  --mat-dialog-subhead-color: #FFFFFF;
  --mat-dialog-supporting-text-color: #FFFFFF;
  --mat-form-field-outlined-caret-color: #FFFFFF;
  --mat-app-background-color: #000000;
}

.cdk-overlay-dark-backdrop {
  background: rgb(0 0 0 / 90%);
}

.mat-mdc-dialog-container {
  min-width: 500px !important;
  min-height: 700px !important;
  max-height: 100vh;
}

.mat-app-background,
.mat-toolbar {
  --mat-toolbar-container-background-color: #000000;
  background-color: #000000;
  color: rgb(236, 236, 236);
}

.mat-mdc-card {
  background-color: #1a1a1a;
  color: rgb(236, 236, 236);
}

.light-theme {
  @include mat.elevation-classes();
  @include mat.app-background();
  @include mat.toolbar-color($light-app-theme);
  @include mat.button-color($light-app-theme);
  @include mat.card-color($light-app-theme);
  @include mat.snack-bar-color($light-app-theme);
  @include mat.form-field-color($light-app-theme);
  @include mat.input-color($light-app-theme);
  @include mat.tooltip-color($light-app-theme);
  @include mat.icon-color($light-app-theme);
}

body {
  min-height: 100%;
  margin: 0;
  display: relative;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.app-frame {
    min-height: 100%;
}

html {
  overflow-y: overlay;
  overflow-x: hidden;
}

.container {
  margin-left: 30%;
  margin-right: 30%;
}

@media(max-width:1200px) {
  .container {
    margin-left: 32px;
    margin-right: 32px;
  }
}

.fullscreen-snack {
  white-space: pre;
  position: absolute;
  width: 344px;
  margin: auto !important;
  right: 0;
  left: 0;
  bottom: 57px;
}


/***
 * Scrollbar 
 ***/

/* width */

::-webkit-scrollbar {
  width: 4px !important;
  height: 4px !important;
}

/* Track */

::-webkit-scrollbar-track {
  background: transparent !important;
  border-radius: 8px !important;
}

/* Handle */

::-webkit-scrollbar-thumb {
  background: rgb(149, 149, 149) !important;
  border-radius: 8px !important;
}

/* Handle on hover */

::-webkit-scrollbar-thumb:hover {
  background: rgb(206, 206, 206) !important;
}