@use '@angular/material' as mat;
@import url('https://fonts.googleapis.com/css?family=Cairo&display=swap');


@include mat.core();

$mat-black: (50: #000000,
            100: #000000,
            500: #000000,
            700: #000000,
  contrast: (50: white, 100: white, 500: white, 700: white));

$app-warn: mat.define-palette(mat.$red-palette);

$light-app-primary: mat.define-palette(mat.$grey-palette, 900);
$light-app-accent: mat.define-palette(mat.$green-palette, A400);
$light-app-theme: mat.define-light-theme($light-app-primary, $light-app-accent, $app-warn);

$black-app-primary: mat.define-palette($mat-black, 50);
$black-app-accent: mat.define-palette(mat.$green-palette, A400);
$black-app-theme: mat.define-dark-theme($black-app-primary, $black-app-accent, $app-warn);

@include mat.all-component-themes($black-app-theme);

.black-theme {
  @include mat.all-component-themes($black-app-theme);
}

.mat-app-background,
.mat-toolbar {
  background-color: #000000;
  color: rgb(236, 236, 236)
}

.mat-card {
  background-color: #1a1a1a;
  color: rgb(236, 236, 236)
}

.light-theme {
  @include mat.all-component-themes($light-app-theme);
}

body {
  min-height: 100%;
  margin: 0;
  display: relative;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.app-frame {
    min-height: 100%;
}

html {
  overflow-y: overlay;
  overflow-x: hidden;
}

.container {
  margin-left: 30%;
  margin-right: 30%;
}

@media(max-width:1200px) {
  .container {
    margin-left: 32px;
    margin-right: 32px;
  }
}

.fullscreen-snack {
  white-space: pre;
  position: absolute;
  width: 344px;
  margin: auto !important;
  right: 0;
  left: 0;
  bottom: 57px;
}


/***
 * Scrollbar 
 ***/

/* width */

::-webkit-scrollbar {
  width: 4px !important;
  height: 4px !important;
}

/* Track */

::-webkit-scrollbar-track {
  background: transparent !important;
  border-radius: 8px !important;
}

/* Handle */

::-webkit-scrollbar-thumb {
  background: rgb(149, 149, 149) !important;
  border-radius: 8px !important;
}

/* Handle on hover */

::-webkit-scrollbar-thumb:hover {
  background: rgb(206, 206, 206) !important;
}