@use '@angular/material' as mat;
@import url('https://fonts.googleapis.com/css?family=Cairo&display=swap');


// TODO(v15): As of v15 mat.legacy-core no longer includes default typography styles.
//  The following line adds:
//    1. Default typography styles for all components
//    2. Styles for typography hierarchy classes (e.g. .mat-headline-1)
//  If you specify typography styles for the components you use elsewhere, you should delete this line.
//  If you don't need the default component typographies but still want the hierarchy styles,
//  you can delete this line and instead use:
//    `@include mat.legacy-typography-hierarchy(mat.define-typography-config());`
@include mat.all-component-typographies();
@include mat.core();

$mat-black: (50: #000000,
            100: #000000,
            500: #000000,
            700: #000000,
  contrast: (50: white, 100: white, 500: white, 700: white));

$app-warn: mat.define-palette(mat.$red-palette);

$light-app-primary: mat.define-palette(mat.$grey-palette, 900);
$light-app-accent: mat.define-palette(mat.$green-palette, A400);
$light-app-theme: mat.define-light-theme((
  color: (
    primary: $light-app-primary,
    accent: $light-app-accent,
    warn: $app-warn,
  ),
  density: 0
));

$black-app-primary: mat.define-palette($mat-black, 50);
$black-app-accent: mat.define-palette(mat.$green-palette, A400);
$black-app-theme: mat.define-dark-theme((
  color: (
    primary: $black-app-primary,
    accent: $black-app-accent,
    warn: $app-warn,
  ),
  density: 0
));

@include mat.toolbar-theme($black-app-theme);
@include mat.button-theme($black-app-theme);
@include mat.card-theme($black-app-theme);
@include mat.snack-bar-theme($black-app-theme);
@include mat.form-field-theme($black-app-theme);
@include mat.input-theme($black-app-theme);
@include mat.tooltip-theme($black-app-theme);
@include mat.icon-theme($black-app-theme);

.mat-app-background,
.mat-toolbar {
  --mat-toolbar-container-background-color: #000000;
  background-color: #000000;
  color: rgb(236, 236, 236)
}

.mat-mdc-card {
  background-color: #1a1a1a;
  color: rgb(236, 236, 236)
}

.light-theme {
  @include mat.toolbar-color($light-app-theme);
  @include mat.button-color($light-app-theme);
  @include mat.card-color($light-app-theme);
  @include mat.snack-bar-color($light-app-theme);
  @include mat.form-field-color($light-app-theme);
  @include mat.input-color($light-app-theme);
  @include mat.tooltip-color($light-app-theme);
  @include mat.icon-color($light-app-theme);
}

body {
  min-height: 100%;
  margin: 0;
  display: relative;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.app-frame {
    min-height: 100%;
}

html {
  overflow-y: overlay;
  overflow-x: hidden;
}

.container {
  margin-left: 30%;
  margin-right: 30%;
}

@media(max-width:1200px) {
  .container {
    margin-left: 32px;
    margin-right: 32px;
  }
}

.fullscreen-snack {
  white-space: pre;
  position: absolute;
  width: 344px;
  margin: auto !important;
  right: 0;
  left: 0;
  bottom: 57px;
}


/***
 * Scrollbar 
 ***/

/* width */

::-webkit-scrollbar {
  width: 4px !important;
  height: 4px !important;
}

/* Track */

::-webkit-scrollbar-track {
  background: transparent !important;
  border-radius: 8px !important;
}

/* Handle */

::-webkit-scrollbar-thumb {
  background: rgb(149, 149, 149) !important;
  border-radius: 8px !important;
}

/* Handle on hover */

::-webkit-scrollbar-thumb:hover {
  background: rgb(206, 206, 206) !important;
}