a.mat-mdc-button {
    width: 225px;
    height: 125px;
    margin-right : 16px;
}

.mat-mdc-card-content {
    display: flex;
    height: 125px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

img.logo {
    display: flex;
    max-width: 70%;
    max-height: 75%;
}

img.svg {
    height: inherit;
}

.fallback-title {
    color: white;
    text-shadow:
        1px 1px 0 #000,
        -1px -1x 0 #000,
        1px -1px 0 #000,
        -1px 1px 0 #000;
}